<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Publico</servlet-name>
        <servlet-class>br.edu.ifpr.SuperBiblioteca.Controlers.Publico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEmprestimos</servlet-name>
        <servlet-class>br.edu.ifpr.SuperBiblioteca.Controlers.ListarEmprestimos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEmprestimos</servlet-name>
        <servlet-class>br.edu.ifpr.SuperBiblioteca.Controlers.RegistrarEmprestimos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUser</servlet-name>
        <servlet-class>br.edu.ifpr.SuperBiblioteca.Controlers.ListarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reserva</servlet-name>
        <servlet-class>br.edu.ifpr.SuperBiblioteca.Controlers.Reserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>br.edu.ifpr.SuperBiblioteca.Controlers.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.edu.ifpr.SuperBiblioteca.Controlers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarLivro</servlet-name>
        <servlet-class>br.edu.ifpr.SuperBiblioteca.Controlers.CadastrarLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuarios</servlet-name>
        <servlet-class>br.edu.ifpr.SuperBiblioteca.Controlers.CadastrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>br.edu.ifpr.SuperBiblioteca.Controlers.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarLivro</servlet-name>
        <servlet-class>br.edu.ifpr.SuperBiblioteca.Controlers.ListarLivro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Publico</servlet-name>
        <url-pattern>/Publico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEmprestimos</servlet-name>
        <url-pattern>/ListarEmprestimos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEmprestimos</servlet-name>
        <url-pattern>/RegistrarEmprestimos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUser</servlet-name>
        <url-pattern>/ListarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reserva</servlet-name>
        <url-pattern>/Reserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarLivro</servlet-name>
        <url-pattern>/CadastrarLivro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuarios</servlet-name>
        <url-pattern>/CadastrarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarLivro</servlet-name>
        <url-pattern>/ListarLivro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Menu</welcome-file>
    </welcome-file-list>
</web-app>
